:root {
  --common-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;

  --main-bg-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --footer-bg-color: #212121;
  --blank-bg-color: #2f303a;
  --border-separator-color: #ececec;
  --interactive-element-color: #2196f3;
  --button-color: #2196f3;
  --current-page-color: #2196f3;
  --button-filter-color: #f5f4fa;

  --logo-font-color: #2196f3;
  --logo-font-black: #000000;
  --logo-font-white: #ffffff;
  --lightondark-text-color: #ffffff;
  --main-heading-color: #212121;
  --nav-color: #212121;
  --main-text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --card-border-color: #eeeeee;
}

/* Остальной код */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--common-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-header {
    border-bottom: 1px solid var(--border-separator-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Шапка */
.style {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font-family: var(--logo-font);
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-font-black);
}

.web {
  color: var(--logo-font-color);
}

.margin-link {
    margin-right: 50px;
    margin-left: 50px;
}

.menu {
    display: flex;
    margin: 32px 305px 32px 93px;
    padding-left: 0px;
}

.link {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.link:hover,
.link:focus {
    color: #2196F3;
}

/* mailo and tel*/
.nav {
    padding: 0;
    display: flex;
}

.nav-link {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
}

.address-hover:hover,
.address-hover:focus {
    color: #2196F3;
    fill: #2196F3;
}

.margin {
    margin-right:30px;
}

.icon-address {
    margin-right: 10px; 
}

/* Герой */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.overlay {
    background: #C4C4C4;
    background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/Img%20.jpg);
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    height: 600px;
}

.heading-container {
    width: 696px;
    margin: 0 auto;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 30px;
    background-position: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.hero .button-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    color: #ffffff;
}

.btn {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  filter: saturate(150%);
}

/* Особенности */
.visual-hidden {
  display: none;
  }

.visual-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.feature-item {
    background: #F5F4FA;
    display: flex;
    max-width: 270px;
    max-height: 120px;
    border-radius: 4px;
    margin: 0px 30px 30px 0px;
}

.features-list > .feature-item {
  max-width: 270px;
}

.features-list > .feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
    margin: 25px 100px;
    width: 70px;
    height: 70px;
}

.features-heading {
  margin-top: auto;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;;
}

.feature-description {
  max-width: 270px;
  max-height: 75px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чем мы занимаемся */
.directions-section {
  padding-bottom: 94px;
}
.directions-heading,
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-heading-color);
}

.directions-heading {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}
.directions-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.directions-list > .item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: var(--section-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-heading {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.teammates-list {
  display: flex;
  padding-left: 0px;
}

.teammates-list > .item {
  max-width: 270px;
  background: var(--main-bg-color);
  text-align: center;
  display: flex;
}

.teammates-list > .item:not(:last-child) {
  margin-right: 30px;
}

.card-description {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.teammates-list .teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-heading-color);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teammates-list .teammate-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
}

.teammate-icon:last-child {
 margin-right: 0px;   
}

/* Иконки */
.teammate-list {
    display: flex;
    justify-content: center;
    max-width: 206px;
    padding: 0;
    margin: 16px 32px 30px;
}

.teammate-icon {
    fill: #AFB1B8;
    
}

.teammate-ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    fill: #AFB1B8;
}

.teammate-ellipse:hover,
.teammate-ellipse:focus {
    fill: #fff;
    background: #2196F3;
}

/* портфолио */
.team-section {
  padding-top: 114px;
  padding-bottom: 74px;
} 

.teammates-list-portfolio {
  display: flex;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 50px;
  justify-content: center;
}

.directions-list-portfolio {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.list{
  max-width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.list:first-child {
    margin-left: 0px;
}

.description-portfolio {
    border-radius: 0 0 4px 4px;
    border: 1px solid #EEEEEE;
}

.description-portfolio:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
 */

.desc {
    margin: 0 auto;
    padding: 20px 24px;
}

.lead {
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.text {
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.button {
  margin-right: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
    
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.primari {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.primari:hover,
.primari:focus {
    background: #2196F3;
    color:  #FFFFFF;
}

/* Постоянные клиенты */
.list-client {
    margin: 0;
    padding: 0;
    display: flex;
}

.link-company {
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}

.link-company:hover,
.link-company:focus {
    border: 1px solid #2196F3;
    fill: #2196F3;
}

.list-item:last-child {
    margin-right: 0px;
}

/* Подвал */
.foot {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--blank-bg-color);
}

.foot-sectoin {
    display: flex;
    align-items: baseline;
}

.logo-foot {
    display: block;
    margin-bottom: 20px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    color: var(--main-bg-color);
}

.adress {
    margin-top: auto;
    margin-bottom: 9px;
    font-style: normal;
    color: var(--main-bg-color);
}

.adress:last-child {
    margin-bottom: 0px;
}

.link-foot {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.foot .link-foot:hover,
.foot .link-foot:focus {
  color: #2196F3;
}

/* Присоединяйтесь */
.position {
    margin-left: 70px;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
}

.ellipse {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.ellipse:hover,
.ellipse:focus {
    background-color: #2196F3;
}

.ellipse:last-child {
    margin-right: 0;
}

.icon-link {
    width: 20px;
    height: 20px;
}

